/* Add CSS Styling */
.odd-element{
    background-color: #ffabc3;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second-element{
    color: #4a70bd;
    font-size: 36px;
}

.odd-element.third-element{
    font-size:36px;
}

#fourth-element{
    background-color: #97f7a1;
    font-size: 24px;
    font-weight: bold;
}