/* Add CSS Styling */

.black-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.yellow-button {
    background-color: rgb(252, 219, 3);
}

.black-button,
.yellow-button {
    font-size: 28px;
    font-style: "Helvetica", "Times New Roman", sans-serif;
}